### Домашнее задание 6

In [10]:
import numpy as np
import math
import pandas as pd

### 1. Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
### zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
### ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [2]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [3]:
cov = (zp * ks).mean() - zp.mean() * ks.mean()
cov

9157.839999999997

In [5]:
cov_n = np.cov(zp, ks, ddof=0)
cov_n

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

In [6]:
r = cov/(np.std(zp) * np.std(ks))
r

0.8874900920739158

In [11]:
R = np.corrcoef(zp, ks, ddof=0)
R

/home/dreamwall/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: bias and ddof have no effect and are deprecated
  """Entry point for launching an IPython kernel.

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [12]:
df = pd.DataFrame({'zp':zp, 'ks':ks})
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [16]:
cov_pd = df.cov()
cov_pd

              zp            ks
zp   3882.933333  10175.377778
ks  10175.377778  33854.322222

##### не нашел, как сделать смещенную оценку

In [15]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

### 2. Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:
### 131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [9]:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [17]:
M = iq.mean()
M

118.1

In [19]:
n = len(iq)
n

10

In [20]:
std = np.std(iq)
std

10.004498987955369

In [21]:
a = 0.025

In [22]:
t = 2.262

In [23]:
M + t * (std/math.sqrt(n))

125.25629022580833

In [25]:
M - t * (std/math.sqrt(n))

110.94370977419166

### 3. Известно, что рост футболистов в сборной распределен нормально с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27, среднее выборочное составляет 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [26]:
D = 25
n = 27
M = 174.2

In [27]:
std = math.sqrt(D)
std

5.0

In [28]:
a = 0.025

In [29]:
z = 1.96

In [30]:
M + z * (std/math.sqrt(n))

176.08601087935276

In [31]:
M - z * (std/math.sqrt(n))

172.31398912064722